* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;

    /* Definindo a Fonte de Texto do Projeto*/
    font-family: 'Poppins', sans-serif;
}

/* Definindo "variaveis" de cor para o nosso projeto*/
:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    /* Definindo a altura padrão da tela */
    height: 100vh;

    /* Scroll suave */
    scroll-behavior: smooth;
}

body {
    background: var(--black-800);
    color: var(--white);
}

button,
a {
    cursor: pointer;
}

body::-webkit-scrollbar {
    /* largura da Scrollbar */
    width: 8px;
}

body::-webkit-scrollbar-track {
    /* cor do plano de fundo da Scrollbar */
    background: var(--black-800);
}

body::-webkit-scrollbar-thumb {
    /* cor do scroll */
    background-color: var(--purple-500);

    /* borda do scroll */
    border-radius: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Classe Padrão para Alinhamento com Display Flex em Modo Coluna*/
.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-flow: column;
}

header h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    margin-right: 10px;
    padding-top: 25px;
    padding-left: 200px;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--black-800);
    border-bottom: 1px solid var(--purple-500);
    filter: opacity(0.9);
}

nav a {
    padding: 0 17px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    width: 100%;
    font-size: 16px;
    color: var(--purple-200);
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: var(--purple-500);
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#sobre {
    border-style: hidden;
    background-color: #120926;
    text-align: center;
    border-radius: 30px;
    width: 75%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    justify-content: center;
    margin: auto;
    box-shadow: 7px 5px
}

#sobre h2 {
    font-weight: bold;
}

#sobre p {
    width: 75%;
    height: max-content;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

#fotos {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    box-shadow: 7px 5px;
}

#criador {
    flex-flow: column;
    text-align: center;
    background-color: var(--purple-800);
    width: 50%;
    margin: auto;
    padding: 25px;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

#criador h2 {
    padding-bottom: 20px;
    font-weight: bold;
}
#criador iframe {
    flex-flow: row;
    margin: auto;
    box-shadow: 7px 5px;
}

footer {
    display: flex;
    margin: 0;
    padding: 32px;
    color: var(--white);
    background-color: var(--purple-500);
    filter: opacity(0.9);
    font-weight: bold;
}

footer p {
    font-weight: bold;
}
footer a {
    font-weight: bold;
    color: var(--black-800);
}